################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/WebApplication1/bin/Debug/net8.0
/WebApplication1/obj
