@model IEnumerable<WebApplication1.Models.Package>

@{
    ViewData["Title"] = "Package List";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a href="/Package/Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Project</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pkg in Model)
        {
            <tr>
                <td>@pkg.Name</td>
                <td>@pkg.Version</td>
                <td>@pkg.ProjectId</td>
                <td>
                    <a href="/Package/Edit/@pkg.ID" class="btn btn-sm btn-secondary">Edit</a>
                    <a href="/Package/Details/@pkg.ID" class="btn btn-sm btn-info">Details</a>
                    <a href="/Package/Delete/@pkg.ID" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>