@{
    ViewData["Title"] = "ホームページ";
}

<div class="text-center">
    <h1 class="display-4">ようこそ</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core で Webアプリを構築する方法</a> について学びましょう。</p>
</div>
